doctype html
html
  head
    title dotfiles
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="dotfiles")
    link(rel="apple-touch-icon" href="./resources/tanjoin.png")
    link(rel="shortcut icon" href="./resources/tanjoin.png")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    #header
      h1#title
        a(href="https://github.com/tanjo/dotfiles" class="title") .tanjo
      p
        | Create
        =" "
        a(href="https://github.com/tanjo" class="plain") tanjo
        | 's develop environment.
